<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AutomationFramework.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AutomationFramework.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <specFlow>
    <unitTestProvider name="NUnit"/>
  </specFlow>
    <userSettings>
    <AutomationFramework.Properties.Settings>
      <setting name="userSettings" serializeAs="String">
        <value />
      </setting>
      <setting name="applicationSettings" serializeAs="String">
        <value />
      </setting>
      <setting name="WaitTime" serializeAs="String">
        <value>20</value>
      </setting>
    </AutomationFramework.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <AutomationFramework.Properties.Settings>
      <setting name="Browser" serializeAs="String">
        <value>Chrome</value>
      </setting>
      <setting name="Environment" serializeAs="String">
        <value>Test</value>
      </setting>
      <setting name="URL" serializeAs="String">
        <value>http://challenge.cloud.planittesting.com/</value>
      </setting>
    </AutomationFramework.Properties.Settings>
  </applicationSettings>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
